
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
a {
    text-decoration: none;    
}
body {
    font-family: 'Roboto', sans-serif;
	letter-spacing: 0.5px;
	position: relative;
	height: 100%;
	overflow-x: hidden;
}


  .swiper {
	width: 100%;
	height: 100%;
  }

  .swiper-slide {
	background-position: center;
	background-size: cover;
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  .animatehide {
	overflow: hidden;
  }

  @keyframes stickySlideDown {
      0% {
          transform: translate3d(0px,-100%,0px);
		  opacity: 0;
      }
      100% {
		  opacity: 1;
      }
  }

 .nav-link:nth-child(1):hover ~ .menu-line, .nav-link:nth-child(1).active ~ .menu-line {
	transform: translate3d(0, 0, 0);
  }
 .nav-link:nth-child(2):hover ~ .menu-line, .nav-link:nth-child(2).active ~ .menu-line {
	transform: translate3d(100.2%, 0, 0);
  }
 .nav-link:nth-child(3):hover ~ .menu-line, .nav-link:nth-child(3).active ~ .menu-line {
	transform: translate3d(200.2%, 0, 0);
  }
 .nav-link:nth-child(4):hover ~ .menu-line, .nav-link:nth-child(4).active ~ .menu-line {
	transform: translate3d(300.2%, 0, 0);
  }
 .nav-link:nth-child(5):hover ~ .menu-line, .nav-link:nth-child(5).active ~ .menu-line {
	transform: translate3d(400.2%, 0, 0);
  }
 .nav-link:nth-child(6):hover ~ .menu-line, .nav-link:nth-child(6).active ~ .menu-line {
	transform: translate3d(500.2%, 0, 0);
  }
 .nav-link:nth-child(7):hover ~ .menu-line, .nav-link:nth-child(7).active ~ .menu-line {
	transform: translate3d(600.2%, 0, 0);
  }



.navigation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	align-items: center;
	height: 90px;
	z-index: 5;
	padding: 8px 0px;
}
.navbody {
	position: relative;
	width: 100%;
}
.topnavber {
    display: flex;
	align-items: center;
	justify-content: space-between;
}


.mobmenu {
	position: fixed;
	right: 0;
	top: 0;
	width: 40%;
	height: 100%;
	background: #313131;
	z-index: 99;
	transition: .5s ease;
	transform: translate3d(100%, 0, 0);
}
.mobmenu.open-menu {
	transform: translate3d(0, 0, 0);
}
.body-overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	background: black;
	z-index: 6;
	left: 0;
	top: 0;
	opacity: .4;
	visibility: hidden;
  	transition: visibility 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.body-overlay.show {
	visibility: visible;
}
.sidebar-wrapping {
	padding: 56px 80px;
	position: relative;
	overflow-y: auto;
	height: 100%;
}
.side-navbar {
	margin-bottom: 50px;
}
.clos-btn {
	position: absolute;
	height: 33px;
	width: 33px;
	cursor: pointer;
	top: 38px;
	right: 34px;
}
.clos-btn::after {
	position: absolute;
	content: "";
	height: 24px;
	width: 2px;
	background: #fff;
	transform: rotate(45deg);
	left: 8px;
	top: -3px;
}
.clos-btn::before {
	position: absolute;
	content: "";
	height: 24px;
	width: 2px;
	background: #fff;
	transform: rotate(-45deg);
	left: 8px;
	top: -3px;
}
.side-nav-item {
	list-style: none;
	margin: 10px 0px;
	height: 40.66px;
	display: flex;
	align-items: center;
	transform: translateY(30px);
}
.side-nav-link {
	font-size: 24px;
	font-weight: 300;
	padding: 2px 0px 3px;
	color: #fff;
	position: relative;
}
.side-nav-link::after {
	position: absolute;
	content: "";
	width: 0;
	height: 3px;
	background: #fff;
	left: 0;
	bottom: 0;
	transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}
.side-nav-link:hover::after {
	width: 100%;
}
.side-text {
	font-size: 13px;
	font-weight: 300;
	line-height: 26px;
	color: #fff;
	margin-top: 8px;
}

.logo-img {
	width: 100px;
}
.container {
	width: 1140px;
	margin: 0 auto;
	padding: 0px 12px;
}
.navbar-nav {
	display: inline-block;
}
.navbar-collapse {
	margin-left: auto;
    margin-right: -30px;
	position: relative;
	display: flex;
}
.menu-line {
	position: absolute;
	color: #fff;
	font-size: 15px;
	top: -15px;
	left: 0;
	display: block;
	text-align: center;
	width: 100px;
	height: 30px;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
}
.navbar-collapse .nav-link {
	font-size: 15px;
	font-weight: 300;
	line-height: 26px;
	color: white;
	font-family: roboto;
	letter-spacing: 0.5px;
	padding: 6.4px 0px;
	width: 100px;
	display: inline-block;
	text-align: center;
}
.sidemenu-btn span {
	display: block;
	width: 100%;
	height: .6px;
	background: white;
}.sidemenu-btn span {
	display: block;
	width: 100%;
	height: 2px;
	background: white;
}
.sidemenu-btn {
	position: absolute;
	width: 36px;
	right: 15px;
	margin-right: 16px;
	padding: 6px;
	height: 26px;
    cursor: pointer;
}
.smbc {
	margin: 4px 0px;
}


.banar {
	background: url(../imgs/bg-minimal.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banar-content p {
	font-size: 25px;
	font-weight: 300;
	line-height: 20px;
	color: white;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 22px;
}
.banar-content h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 100px;
	font-weight: 600;
	line-height: 100px;
	color: white;
	text-transform: capitalize;
}
.banar-content {
	text-align: center;
	position: relative;
	top: 14.5px;
}
.banar-btn {
	font-size: 14px;
	font-weight: 500;
	line-height: 25px;
	padding: 9px 34px;
	font-family: 'Poppins', sans-serif;
	background: #313131;
	color: white;
	border: 2px solid #313131;
	border-radius: 50px;
	display: inline-block;
	margin-top: 32px;
	transition: all 0.3s;
	text-transform: capitalize;
}
.banar-btn:hover {
	background: transparent;
	color: white;
	border-color: white;
}


#about {
	padding: 120px 0px;
	overflow: hidden;
}
.sub-title {
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	color: #313131;
	letter-spacing: 0.5px;
	font-family: 'poppins', sans-serif;
	margin-bottom: 16px;
}
.title {
	font-size: 48px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	color: #acacac;
	line-height: 57.6px;
	letter-spacing: 0.5px;
}
.title-text {
	font-size: 15px;
	font-weight: 300;
	color: #6D6D6D;
	line-height: 26px;
	letter-spacing: 0.5px;
	font-family: 'roboto', sans-serif;
}
#about .title {
	color: #2B2B2B;
}
.Basic-info {
	display: flex;
	gap: 24px;
}
.info-title {
	width: 50%;
	margin-bottom: 48px;
}
.info-text {
	width: 50%;
	margin-bottom: 24px;
}
.feature-box-wrap {
	margin-top: 48px;
	display: flex;
	gap: 24px;
}
.feature-box span {
	font-size: 40px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0.5px;
	padding: 40px 0px;
	display: inline-block;
	color: #acacac;
	font-family: 'roboto', sans-serif;
}
.feature-box h6 {
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.5px;
	margin-bottom: 24px;
	color: #2B2B2B;
	font-family: 'Poppins', sans-serif;
}
.feature-box p {
	font-size: 15px;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: 0.5px;
	color: #6D6D6D;
}
.laptopslid {
	margin-top: 80px;
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
}
.laptop-img {
	width: 890px;
}
.laptop-img-slide {
	width: 43%;
	left: 38%;
	position: absolute;
	top: 26%;
	height: 60%;
}



#team {
	background: #f8f9fa !important;
	padding: 120px 0px;
	overflow: hidden;
}
.top-title {
	text-align: center;
	width: 65%;
	margin: 0 auto;
	margin-bottom: 48px;
}
#team .title {
	margin-bottom: 16px;
}
.team-box {
	border: 20px solid #ffff;
	background: #ffff;
}
.team-imgs {
	position: relative;
}
.team-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
  	opacity: 0;
	transition: all .5s ease-in .1s;
}
.team-overlay::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #acacac;
	opacity: .5;
}
.social-icon {
	display: inline-block;
	transition: all .5s ease;
	transform: translateY(-100%);
	visibility: hidden;
  	opacity: 0;
}
.social-icon:first-child {
	transition-delay: .1s;
}
.social-icon:nth-child(2) {
	transition-delay: .2s;
}
.social-icon:nth-child(3) {
	transition-delay: .3s;
}
.social-icon:nth-child(4) {
	transition-delay: .4s;
}
.social-icon a {
	height: 36px;
	width: 36px;
	background: #fff;
	display: block;
	line-height: 36px;
	text-align: center;
	border-radius: 50%;
	color: #384141;
	position: relative;
	z-index: 1;
	transition: all .1s ease;
}
.facebook:hover {
	background: #4267B2;
}
.twitter:hover {
	background: #1DA1F2;
}
.instagram:hover {
	background: #C32AA3;
}
.pinterest:hover {
	background: #BD081C;
}
.social-icon a:hover {
	color: #ffff;
}
.team-box:hover .team-overlay {
	visibility: visible;
	opacity: 1;
}
.team-box:hover .social-icon {
	transform: translateY(0);
	opacity: 1;
  	visibility: visible;
}
.team-text {
	padding: 32px 0px 40px;
}
.team-text h5 {
	font-size: 25.6px;
	font-weight: 500;
	line-height: 25.6px;
	color: #2B2B2B;
	font-family: 'poppins', sans-serif;
}
.team-text span {
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	color: #2B2B2B;
	font-family: 'poppins', sans-serif;
}
.team-progress {
	padding-bottom: 16px;
}
.progress-item {
	margin-bottom: 32px;
}
.progress-title {
	display: flex;
	justify-content: space-between;
}
.progress-title h5 {
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	color: #2B2B2B;
	font-family: 'poppins', sans-serif;
}
.progress-title span {
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	color: #2B2B2B;
	font-family: 'poppins', sans-serif;
}
.progress {
	margin-top: 12px;
	height: 12px;
	background: #e9ecef;
	width: 100%;
	border-radius: 50px;
}
.progress-bar {
	height: 12px;
	width: 100%;
	background: linear-gradient(to right, #acacac 2%, #919191 82%);
	border-radius: 50px;
}
.project-management {
	width: 90%;
}
.online {
	width: 80%;
}
.web-designing {
	width: 75%;
}
.seo {
	width: 70%;
}



#work {
	padding: 120px 0px;
	overflow: hidden;
}
#work .title {
	color: #2B2B2B;
}
.filter-menu {
	margin-bottom: 30px;
}
.filter-menu-item {
	display: inline-block;
	list-style: none;
	font-size: 14px;
	font-weight: 500;
	line-height: 32px;
	padding: 10px 0px;
	margin: 10px 4px 6px;
	color: #333333;
	cursor: pointer;
	font-family: 'poppins', sans-serif;
	transition: all .2s ease-in-out;
}
.filter-menu span {
	font-size: 15px;
	font-weight: 300;
	line-height: 26px;
	color: #2B2B2B;
}
.filter-menu-item.activ {
	color: #ACACAC;
}
.filter-menu-item:hover {
	color: #ACACAC;
}
.items-top {
	display: flex;
}
.items-left {
	width: 50%;
	display: flex;
}
.items-right {
	width: 50%;
}
.items-end {
	display: flex;
}
.items-end-left {
	width: 50%;
}
.items-end-right {
	width: 50%;
}
.right-end-rapping {
	display: flex;
}
.items-img {
	overflow: hidden;
	height: auto;
	position: relative;
}
.items-imghover {
	display: block;
	height: auto;
	transition: ease-in-out 0.2s;
}
.items-img:hover .items-imghover {
	transform: scale(1.25);
}
.items-img:hover .items-body {
	visibility: visible;
	opacity: 1;
}
.img-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background: linear-gradient(to right, #acacac 2%, #919191 82%);
	opacity: 0.7;
}
.items-body {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
  	opacity: 0;
	transition: ease-in-out 0.2s;
}
.plus {
	position: relative;
	height: 70px;
	width: 100%;
	left: 0;
	top: 0;
	margin-bottom: 16px;
	display: flex;
	justify-content: center;
}
.plus::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 2px;
	background: #fff;
	left: 50%;
}
.plus::after {
	position: absolute;
	content: "";
	height: 2px;
	width: 70px;
	background: #fff;
	top: 50%;
}
.items-body h5 {
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	color: #fff;
	font-family: 'poppins', sans-serif;
	margin-bottom: 4px;
}
.items-body p {
	font-size: 12px;
	font-weight: 300;
	line-height: 26px;
	color: #fff;
}
.body-content {
	position: absolute;
}


#pricing {
	padding-top: 120px;
	background: #f8f9fa;
	overflow: hidden;
}
.pricing-box {
	padding: 32px 21px;
	border: 2px solid #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: inline-block;
	background: #fff;
	border-radius: 4px;
	margin-bottom: 120px;
	text-align: left;
}
.price-title {
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 24px;
	background: linear-gradient(to right, #acacac 2%, #919191 82%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.price-title.color {
	-webkit-text-fill-color: #2B2B2B !important;
}
.price-tag {
	display: flex;
	gap: 15px;
}
.price-text {
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	color: #6D6D6D;
}
.currency {
	font-size: 56px;
	font-weight: 400;
	line-height: 45px;
	letter-spacing: -2px;
	font-family: 'poppins', sans-serif;
}
.currency span {
	font-size: 22px;
	vertical-align: super;
	font-weight: 500;
}
.month {
	font-size: 12px;
	font-weight: 300;
	line-height: 26px;
	font-family: 'poppins', sans-serif;
	padding-right: 7px;
}
.price {
	text-align: center;
}
.price-tag {
	display: flex;
	gap: 15px;
	padding: 15px 0px;
	border-top: 2px solid rgba(111, 123, 133, 0.18);
	border-bottom: 2px solid rgba(111, 123, 133, 0.18);
}
.packages {
	padding: 20px 0px;
}
.packages li {
	list-style: none;
	font-size: 13px;
	font-weight: 400;
	line-height: 40px;
	color: #232323;
}
.packages li i {
	font-size: 13px;
	line-height: 13px;
	color: #63BE11;
	padding-right: 5px;
	width: 24px;
}
.packages li .fa-xmark {
	color: #e04645;
}
.price-btn {
	width: 100%;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 25px;
	font-family: 'poppins', sans-serif;
	padding: 9px 34px;
	color: #fff;
	background-image: linear-gradient(to right, #acacac 0%, #919191 51%, #acacac 100%);
	border-radius: 50px;
	transition: all 0.3s !important;
	background-size: 200% auto;
	border: 2px solid transparent;
}
.price-btn:hover {
	background-position: right center;
}
.price-btn.back {
	background: #2b2b2b;
}


#content {
	padding: 120px 0px;
	overflow: hidden;
	background: white;
}
#content .title {
	color: #2B2B2B;
	margin-bottom: 24px;
}
.content-wrapping {
	display: flex;
}
.content-wrapping .info-title {
	margin: 0;
}
.content-img {
	width: 50%;
}
.content-img img {
	position: relative;
	width: 686px;
	right: 38px;
}



.testimonial-wrapper {
	display: flex;
}
.testimonial-left {
	width: 50%;
	padding: 0px 12px;
	background: #F8F9FA;
}
.testimonial-item {
	width: 560px;
	margin: 0 auto;
	text-align: center;
	padding: 120px 0px;
}
.testimonial-item i {
	font-size: 35.2px;
	line-height: 35.2px;
	margin-bottom: 32px;
	background: linear-gradient(to right, #acacac 2%, #919191 82%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.testimonial-text {
	font-size: 15px;
	line-height: 26px;
	font-weight: 300;
	color: #6D6D6D;
	margin-bottom: 24px;
}
.testimonial-imgs {
	width: 100px;
	margin: 32px auto 24px;
}
.destination {
	font-size: 13px;
	color: #9c9c9c;
	font-weight: 400;
	line-height: 26px;
}
.claind-name {
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	color: #313131;
	font-family: 'poppins', sans-serif;
}
.swiper-backface-hidden .swiper-slide {
	background: #F8F9FA;
}
.testimonial-imgs img {
	border-radius: 50px;
}
.testimonial-right {
	width: 50%;
	background: url(../imgs/bg-img1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	position: relative;
}
.overlay-color {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #acacac 2%, #919191 82%);
	opacity: .8;
}
.counter-wraper {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 550px;
	top: 196px;
}
.count {
	font-size: 38px;
	font-weight: 500;
	line-height: 26px;
	margin-bottom: 16px;
	font-family: 'poppins', sans-serif;
	color: #fff;
}
.count-text {
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	font-family: 'poppins', sans-sarif;
	color: #fff;
}
.count-box {
	padding-bottom: 80px;
}
.swiper-pagination-bullet {
	height: 12px !important;
	width: 12px !important;
	margin: 2px 3px !important;
	position: relative !important;
	background: #e2dada !important;
	opacity: 1 !important;
}
.swiper-pagination-bullet::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: #313131;
	left: 0;
	border-radius: 50px;
	transform: translate3d(0, 100%, 0);
	visibility: hidden;
	transition: ease-in-out 0.2s;
}
.swiper-pagination-bullet:hover::after {
	transform: translate3d(0, 0, 0);
	visibility: visible;
}
.swiper-pagination-bullet-active::after {
	transform: translate3d(0, 0, 0);
	visibility: visible;
}
.swiper-pagination {
	bottom: 80px !important;
}



#app {
	padding: 120px 0px;
	background: white;
}
.app-deatil {
	display: flex;
	gap: 41px;
	align-items: center;
}
.app-feature {
	text-align: center;
}
.app-feature.app-top {
	margin-bottom: 48px;
}
.app-icon {
	font-size: 38px;
	font-weight: 400;
	line-height: 38px;
	margin-bottom: 24px;
	transition: all .3s ease-in-out;
	background: linear-gradient(to right, #acacac 2%, #919191 82%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.app-feature h4 {
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 16px;
	color: #2B2B2B;
	font-family: 'poppins', sans-saref;
}
.app-feature p {
	font-size: 15px;
	font-weight: 300;
	line-height: 26px;
	color: #6D6D6D;
}
.app-center {
	position: relative;
}
.app-center .app-iphone {
	width: 280px;
	display: inline-block;
	margin: 0 auto;
}
.app-slider {
	position: absolute;
	width: 84%;
	height: 75%;
	top: 12%;
	left: 8%;
}
.app-feature:hover .app-icon {
	transform: translateY(-5px);
}



#blog {
	padding: 120px 0px;
	background: #f8f9fa;
	overflow: hidden;
}
.blog-wrapping {
	display: flex;
	gap: 24px;
	align-items: center;
}
.blog-content {
	width: 50%;
}
.blog-imgs {
	width: 50%;
}
.blog-wrapping.top-blog {
	margin-bottom: 48px;
}
.blog-content .title {
	color: #2b2b2b;
	margin-bottom: 19.2px;
}
.blog-content .price-btn {
	width: auto;
	margin-top: 24px;
}
.blog-wrapping.top-blog .blog-content {
	order: 2;
}
.blog-wrapping.top-blog .blog-imgs {
	order: 1;
}
.blog-width {
	width: 506px;
}
.blog-width img {
	width: 500px;
}



.address {
	display: flex;
}
.address-box {
	position: relative;
	width: 50%;
}
.city-map {
	position: relative;
	width: 50%;
	overflow: hidden;
}
.address-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #acacac 2%, #919191 82%);
	opacity: .8;
	z-index: -1;
	top: 0;
	left: 0;
}
.address-box {
	position: relative;
	width: 50%;
	background: url(../imgs/address-image.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	padding: 120px 0px;
}
.address-content {
	text-align: center;
	color: #fff;
}
.address-content .sub-title {
	color: #fff;
}
.address-content .title {
	color: #fff;
	margin-bottom: 24px;
}
.address-content p {
	font-size: 15px;
	font-weight: 300;
	line-height: 26px;
	margin-bottom: 16px;
}
.address-socil li {
	display: inline-block;
}
.address-socil a {
	height: 40px;
	width: 40px;
	display: block;
	margin: 5px;
	border-radius: 50px;
	line-height: 40px;
	transition: .2s ease-in-out;
	font-size: 17px;
	color: #fff;
	text-align: center;
}
.address-socil a i {
	transition: .2s ease-in-out;
}
.address-socil a:hover {
	background-color: #fff;
}
.address-socil a:hover .fa-facebook-f {
	color: #4267B2;
}
.address-socil a:hover .fa-twitter {
	color: #1DA1F2;
}
.address-socil a:hover .fa-google-plus-g {
	color: #DB4437;
}
.address-socil a:hover .fa-linkedin-in {
	color: #0077B5;
}
.address-socil a:hover .fa-instagram {
	color: #C32AA3;
}



#contactUs {
	padding: 120px 0px;
}

.contact-head {
	text-align: center;
	margin-bottom: 48px;
}
.contact-head .title {
	color: #313131;
}
.contact-form {
	width: 750px;
	margin: 0 auto;
}
.form-grup {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 24px;
	margin-bottom: 24px;
}
.form-control {
	border: 0;
	padding: 12px 0px;
	width: 100%;
	border-bottom: 1px solid #e2e2e2;
	font-size: 14px;
	font-weight: 300;
	color: #A5A5A5;
	font-family: 'Roboto', sans-saref;
	height: 44px;
	letter-spacing: .7px;
	border-radius: 0px;
}
.form-control:focus {
	outline: 0;
}
.contact-form textarea {
	height: 175px;
	resize: none;
}
.form-btn {
	text-align: center;
}
.form-btn .price-btn {
	width: auto;
	margin-top: 24px;
}



#footer {
	padding: 120px 0px;
	background: #f8f9fa;
}
.footer-socil {
	text-align: center;
}
.footer-socil li {
	display: inline-block;
}
.footer-socil a {
	width: 45px;
	height: 45px;
	line-height: 45px;
	display: block;
	margin: 10px 5px;
	border-radius: 50px;
	color: #212529;
	font-size: 17px;
	transition: .2s ease-in-out;
}
.footer-socil a i {
	transition: .2s ease-in-out;
}
.footer-socil a:hover {
	background: #212529;
}
.footer-socil a:hover i {
	color: #fff;
}
.footer-text {
	text-align: center;
	font-size: 13px;
	font-weight: 300;
	line-height: 26px;
	color: #6D6D6D;
}
.footer-text a {
	color: #6D6D6D;
}


#topArrow {
	position: fixed;
	width: 45px;
	height: 45px;
	line-height: 49px;
	background: linear-gradient(to right, #acacac 0%, #919191 51%, #acacac 100%);
	text-align: center;
	border-radius: 100%;
	font-size: 21px;
	color: #fff;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	display: none;
}